{% load static %}

	{% include 'accounts/navbar.html' %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="centered-navbar"><a href="#"><img src="{% static 'images/99.jpeg' %}" style="height:70px; width:180px;"></a></div>

<div class="c-navbar"><a href="#"><img src="{% static 'images/newpic.jpg' %}" style=" height: 75px; width:110px;"></a></div>
<div class="c-navbar2"><a href="#"><img src="{% static 'images/999.jpeg' %}" style=" height: 75px; width:110px;"></a></div>



<br>
<br>

<hr width="1000px;">

<center><h3 style="color:blue;">Click on Logo to Visit Channel</h3>





<hr width="1000px;">

 <a href="https://www.youtube.com/channel/UCfhwP6AfprCSnD61W5j_gDQ"> <img src="{% static 'images/logonew.png' %}" height="300px"></a>

 <a href="https://www.youtube.com/channel/UCfhwP6AfprCSnD61W5j_gDQ"><img src="{% static 'images/forgot.jpg' %}" height="280px"></a>

<a href="https://www.youtube.com/channel/UCfhwP6AfprCSnD61W5j_gDQ"><center><img src="{% static 'images/1.gif' %}"></center></a>
<hr>


<center><object style="height: 290px; width: 540px"><param name="movie" value="https://www.youtube.com/v/lKijcNqLL7A"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="https://www.youtube.com/v/lKijcNqLL7A" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="390"></object></center>


<hr>
<h5> </h5>




